PAYPAL_CLIENT_ID=ARnyHTrhi4y4H6tVli73X7nkRqZS0PB_MFtPdVamSDMdi7UnU90kFJk6sn3zjv70gBPFZeCV8W_Rdgpz
PAYPAL_SECRET=EGHHUcW5v485VO7DgEHfA5L2iEeE6HOPhiuIkFYuwdIOdYDcCNVnM81aLFQxeigAO4IyqVVULBl-zLQa
STUDYREACH_PAYPAL_EMAIL=freelance.project.web@gmail.com
SITE_URL=https://studyreach.vercel.app
